name: Build macOS

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with:
        lfs: true

    - name: Cache Unity
      uses: actions/cache@v4
      with:
        path: Library
        key: Library-macOS

    - name: Build
      uses: game-ci/unity-builder@v4
      env:
        UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
        UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
      with:
        unityVersion: 2022.3.27f1
        targetPlatform: StandaloneOSX
